{
  "extends": "eslint-config-egg",
  "rules": {
    "jsdoc/check-param-names": 0, // Recommended
    "jsdoc/check-tag-names": 0, // Recommended
    "jsdoc/require-param": 0, // Recommended
    "jsdoc/require-param-name": 0, // Recommended
    "jsdoc/require-param-type": 0, // Recommended
    "jsdoc/require-returns": 0, // Recommended
    "jsdoc/require-returns-check": 0, // Recommended
    "jsdoc/require-returns-description": 0, // Recommended
    "jsdoc/require-returns-type": 0, // Recommended
    "jsdoc/valid-types": 0 // Recommended
  }
}
